/*<!----------------------------------------------------------------------------------------------------------------------------------------------------------|
|-------------------------------------------------------------------------------------------------------------------------------------------------------------|
| NOMBRE    :  DANNY JOSE JIMENEZ GUTIERREZ                                                                                                                   |
| CEDULA    :  16.029.567                                                                                                                                     |
| TELEFONO  :  0424-281-44-55                                                                                                                                 |
| CORREO    :  DENNALY88@GMAIL.COM                                                                                                                            |
|-------------------------------------------------------------------------------------------------------------------------------------------------------------|
|  CURSO    : CSS                                                                                                                                             |
|  DESARROLLADOR WEB                                                                                                                                          |
|  MIRANDA , CUA  2025                                                                                                                                        |
--------------------------------------------------------------------------------------------------------------------------------------------------------------|
------------------------------------------------------------------------------------------------------------------------------------------------------------>*/


.caja-con-relleno {
  background-color: lightblue;
  border: 2px solid blue;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-left: 40px;
}









/*<!----------------------------------------------------------------------------------------------------------------------------------------------------------|
| CARRERA   :  DESARROLLADOR                                                                                                                                  |
| TITULO    :  INGENIERO EN INFORMATICA                                                                                                                       |
------------------------------------------------------------------------------------------------------------------------------------------------------------>*/